<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Recipes</string>
		<key>image</key>
		<string>Menu</string>
		<key>bigImage</key>
		<string>Menu</string>
		<key>colors</key>
		<array>
			<integer>203</integer>
			<integer>232</integer>
			<integer>150</integer>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Favorites</string>
		<key>image</key>
		<string>Favorite</string>
		<key>bigImage</key>
		<string>Favorite</string>
		<key>colors</key>
		<array>
			<integer>170</integer>
			<integer>192</integer>
			<integer>170</integer>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Pantry</string>
		<key>image</key>
		<string>Recipe</string>
		<key>bigImage</key>
		<string>Recipe</string>
		<key>colors</key>
		<array>
			<integer>252</integer>
			<integer>223</integer>
			<integer>166</integer>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Profile</string>
		<key>image</key>
		<string>Profile</string>
		<key>bigImage</key>
		<string>Profile</string>
		<key>colors</key>
		<array>
			<integer>161</integer>
			<integer>130</integer>
			<integer>118</integer>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>About</string>
		<key>image</key>
		<string>Info</string>
		<key>bigImage</key>
		<string>Info</string>
		<key>colors</key>
		<array>
			<integer>244</integer>
			<integer>184</integer>
			<integer>134</integer>
		</array>
	</dict>
</array>
</plist>
